a {
    text-decoration: none;
    font-size: 1.5em;
}

body {
    font-size: 16px;
}

.title {
    font-size: 2em;
    font-weight: bold;
    color: rgb(162, 77, 77);
    text-transform: uppercase;
    text-align: center;
}

.column-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 7px;
    padding: 1em 0;
}

.views {
    font-size: 1.5em;
}

.color-green {
    color: #00a65a;
}

.color-blue {
    color: #0073b7;
}

.color-golden {
    color: #f39c12;
}
.color-white {
    color: rgb(133, 130, 130);
}