* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-size: 1.5em;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.navbar {
  margin: 1.5em 0;
}

.title {
  font-size: 2em;
  font-weight: bold;
  color: rgb(162, 77, 77);
  text-transform: uppercase;
  text-align: center;
}

.close {
  display: none;
}

.add-button-container {
  display: flex;
  justify-content: flex-end;
}

.btn {
  width: max-content;
  display: flex !important;
  justify-content: flex-end;
}

.column-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em 0;
}

.views {
  font-size: 1.5em;
}

.color-green {
  color: #00a65a;
}

.color-blue {
  color: #0073b7;
}

.color-golden {
  color: #f39c12;
}
.color-white {
  color: rgb(133, 130, 130);
}
